.footer-wrapper {
	background-color: #727881;
	font-size: 1.4rem;
}

.footer {
	width: 100%;
	display: flex;
	flex-direction: column;
	color: $color-light-gray;

	@include respond(tab-port) {
		padding: 0 15px;
	}

	@include respond(tab-land) {
		padding: 0 50 ppx;
	}

	@media (min-width: 1280px) {
		max-width: 1340px;
		margin: 0 auto;
		padding: 0 15px;
	}

	.footer-top {
		display: flex;
		justify-content: space-between;
		padding: 35px 0 20px 0;
		border-bottom: 1px solid $color-light-gray;

		.footer-some {
			a {
				color: $color-light-gray;
				font-family: $gilroy-medium;
			}
		}
	}

	.footer-bottom {
		display: flex;
		justify-content: space-between;
		padding: 20px 0 75px 0;
		flex-direction: column;

		@include respond(tab-port) {
			flex-direction: row-reverse;
		}

		@media (min-width: 768px) {
			flex-direction: row;
		}

		.footer-newsletter {
			a {
				color: $color-light-gray;
				font-family: $gilroy-medium;
			}
		}

		.footer-menu {
			nav {
				ul {
					list-style: none;
					padding: 0;
					margin: 0;

					li {
						display: block;
						margin-right: 20px;

						@media (min-width: 768px) {
							display: inline;
						}

						&:last-child {
							margin-right: 0;
						}

						a {
							color: $color-light-gray;
							font-family: $gilroy-medium;
						}
					}
				}
			}
		}
	}
}
