.header {
	// padding: 0px 2rem;
	height: 5rem;

	@include respond(tab-port) {
		height: 6.5rem;
	}
}

.konkka-navbar {
	display: flex;
	background-color: $color-primary;

	& > .container-fluid {
		align-self: center;

		& > .row {
			& > .navbar {
				width: 100%;
				// padding: unset;
				a {
					color: $color-white;
					font-family: $gilroy-medium;
					font-size: 14px;
				}
			}
		}
	}
}
