.login-form {
	padding: unset;

	& > * input {
		border-radius: 1.8rem;
		border: solid 2px $color-light-gray;
		background-color: $color-white;
		max-width: 30rem;
		max-height: 3.6rem;
	}

	&__flex {
		&-remember {
			display: flex !important;
			align-content: center;
			align-items: center;

			& > label {
				margin: unset !important;
			}
		}
	}

	&__input {
		@extend .font-regular;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;

		height: 3.6rem;
		padding-left: 2rem;
	}

	&__button {
		@extend .font-regular;
		font-family: $gilroy-medium;

		& > label {
			margin: unset !important;
			padding-left: unset;
		}

		& > input {
			margin-right: .5rem;
		}

		&.padding {
			&-30 {
				padding-top: 3rem;
				padding-bottom: 3rem;
			}
		}

		&.no-padding {
			padding-left: unset;
		}

		&-login {
			width: 100% !important;
			height: 3.6rem;
			font-family: $gilroy-bold;
			font-size: 1.4rem;
		}

		&-forgot {
			float: right;
		}
	}
}
