.konkka-navbar {
	@include respond(phone) {
		& .navbar__side {
			justify-content: center;
			align-items: center;
			padding-bottom: calc(100vw / 4);
		}
	}

	@include respond(tab-port) {
		// position: fixed;
    width: 100%;
    // top: 0;
		z-index: 100;

		& > .container {
			height: 100%;
		}
	}
}

.navbar {
	height: 100%;
	align-content: center;

	@include respond(phone) {
		&__side {
			z-index: 100;
			position: fixed;
			top: 95px;
			right: -100%;
			height: 100vh;
			width: 100%;
			background: $color-primary;
			transition: all .4s ease-in;

			&.active {
				right: 0;
			}
		}
	}

	& > span > span {
		color: $color-white !important;
	}

	&-brand {
		color: $color-white !important;
	}

	&-collapse {
		// * Do not remove - it will affect the menu/burger animation
		&:not(.show) {
			display: flex !important;
		}
	}
}


.nav {
	@include respond(tab-port) {
		padding-left: unset;
		padding-right: unset;

		& > a {
			padding: unset;
			cursor: pointer;
		}

		&-item {
			padding: 20px 0;
			cursor: pointer;
		}
	}

	&-link {
		color: $color-white;
		padding: unset;
		padding-right: 1.2rem !important;
		padding-left: 1.2rem !important;

		&.link__header {
			color: $color-white !important;
		}

		& img {
			padding-right: 14px;
		}

		@extend .font-regular;
		font-family: $gilroy-medium;
		font-size: 1.4rem;
	// }

		@include respond(phone) {
			text-align: center;
		}
	}
}


.nav-item:hover {
	cursor: pointer;
}
.nav-item > img:hover {
	cursor: pointer;
}

.nav-link:hover {
	cursor: pointer;
}
.nav-link > label:hover {
	cursor: pointer;
}
.nav-link > label > img:hover {
	cursor: pointer;
}