.pagination {
	align-items: baseline;
	font-size: 1.4rem;
	font-family: $gilroy-regular;

	& > li {
		& > button:disabled {
			padding-left: unset;
			padding-right: unset;
		}
	}

	&-arrow {
		border-radius: 25px !important;
		border: 2px solid rgba($color-light-gray, .8);
		padding: .5rem 3rem;
		color: $color-gray;
		width: 122px;
		height: 36px;

		&:active,
		&:focus {
			border: 2px solid rgba($color-light-gray, .8);
		}

		&:hover {
			color: $color-dark-blue;
			background-color: unset;
		}
		// TODO: mobile styling
		@include respond(phone) {
			// display: none;
		}

		&-li {
			padding: .4rem .6rem;
			margin: .4rem;
		}
	}

	&-link {
		background-color: unset;
		font-family: $gilroy-medium;
		font-size: 1.4rem;
		color: $color-dark-blue;
		border: none;
		// margin: 0 1rem;
		// padding: .8rem 1.4rem;
		width: 38px;
		height: 38px;

		&:hover,
		&button:hover {
			border: 2px solid rgba($color-light-gray, .4);
			border-radius: 50%;
			color: rgba($color-gray, .6);
		}

		&:first-child,
		&:last-child {
			border-radius: 50% !important;
		}
	}

	&__wrapper {
		padding: 60px 0;
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
	}
}

.page-link {
	&:active,
	&:focus {
		background-color: unset;
		box-shadow: unset;
		outline: none;
	}

	&:hover {
		background-color: unset;
	}
}

.page-item {
	padding: 2px;
}

.page-item.active .page-link {
	border: 2px solid rgba($color-light-gray, .8);
	border-radius: 50%;
	background-color: unset;
	color: $color-dark-blue;
}
