.single-product-container {
  margin-top: 30px;
  margin-bottom: 30px;

  @media (min-width: $desktop) {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .list-group-item {
    border: none;
    padding: 0;
  }

  .bid-form {
    display: flex;
  }

  .bid-current-price {
    .list-group-item-text {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $color-light-gray;
    }
  }

  .bid-time-left {
    display: flex;
    justify-content: space-between;
  }
}

