.static-header {
  display: flex;
  justify-content: flex-start;
  align-self: center;

  max-height: 3rem !important;
  background-color: #727881;

}

.static-navbar {
  & > .nav-item {
    list-style: none;

    @include respond(tab-port) {
      padding: 0;
    }
  }
}