.front {
	&__list {
		display: flex;
		justify-content: space-between;
		padding-bottom: 1.5rem;

		& > label {
			font-family: $gilroy-medium;
			font-size: 12px;
			font-weight: 500;
			color: $color-gray;
		}
	}
}
