.omat-huudot {
  margin-bottom: 50px;

  &__table {
    font-size: 1.4rem;
    font-family: $gilroy-regular;
    letter-spacing: .3pt;
  }
  
  &__row {
    &:hover {
      cursor: pointer;
    }
  }
}