.single-product__layout {
	@media only screen and (min-width: 991.9px) {
		margin-top: 54px;
	}
	@include respond(tab-port) {
		margin-top: 40px;
	}
	@include respond(phone) {
		margin-top: 20px;
	}
}



.product {
	&__container {
		display: flex;
		padding-bottom: 5rem;

		@media (max-width: 767.98px) {
			flex-direction: column;
		 }
	}

	&__header {
		width: 100%;

		& > img {
			width: 100%;
			max-height: 52rem;
			object-fit: cover;
			object-position: center;

			@include respond(phone) {
				max-height: 22rem;
			}
		}
	}

	&__title {
		padding-bottom: 20px;
		margin-bottom: 0;
		
		@include respond(phone) {
			padding: 2rem 0;
			margin: unset;
		}
	}

	&__price {
		padding: unset;
		border: none;

		border-bottom: solid .2rem rgba(199, 199, 199, .3);
		margin-bottom: 2rem;
		// max-height: 6rem;

		@include flex($space-between) {
			align-content: center;
		}

		@include respond(tab-port) {
			// padding-top: 3rem !important;
			align-self: flex-start;
		}

		@include respond(phone) {
			padding-top: 3rem;
		}


		& > h2.current-price {
			&::after {
				content: '€';
				padding-left: 4px;
			}
		}

		& > h2:last-child {
			color: $color-dark-gray;
		}

		&-line {
			// border: solid .1rem rgba(199, 199, 199, .3);
			// margin-bottom: 2rem;

			@include respond(phone) {
				display: none;
			}
		}
	}

	&__timer {
		display: flex;
		justify-content: flex-start;
		align-content: center;
		align-items: center;

		margin: 5px 0;

		border: unset;
		padding: unset;

		&-container {
			padding: 1.5rem 0 3.5rem 0;
			@include respond(tab-port) {
				padding: 1.5rem 0 3.5rem 0;
			}
		}

		&-title {
			max-width: 28rem;
			height: auto;
			padding-right: 1rem;
			margin: unset;

			font-family: $gilroy-bold;
			font-size: 1.8rem;
			line-height: 1.28;
			color: $color-dark-gray;
		}

		&-time {
			// max-width: 20rem;

			height: auto;
			margin: unset;
			font-family: $gilroy-bold;
			font-variant-numeric: tabular-nums;
			
			font-size: 1.8rem;
			font-weight: bold;
			line-height: 1.28;
			color: $color-orange;

			@supports ( -moz-appearance: none ){
				font-family: $gilroy-regular !important;
			}


		}

		&-ending {
			font-size: 12px;
		}
	}

	&__location {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-content: center;
		align-items: center;

		color: $color-dark-gray;
		font-family: $gilroy-medium;

		@include respond(tab-port) {
			flex-direction: row;
			align-items: center;
			align-self: center;
			align-content: center;
		}

		& > div {
			align-self: stretch;
			height: auto;
			max-width: 48% !important;

			padding: 1.5rem 2rem;
			background-color: $color-second-white;
			font-size: 1.4rem;

			& > p  {
				margin-bottom: unset !important;
			}
		}

		&-address {
			& p {
				margin-bottom: 4px;
				font-family: $gilroy-bold;
			}

			@include respond(tab-port) {
				max-width: 49% !important;
				width: 100%;
			}
		}

		&-delivery {
			& p {
				margin-bottom: 4px;
				font-family: $gilroy-bold;

				// @supports ( -moz-appearance: none ){
				// 	font-family: $gilroy-regular !important;
				// }

			}

			& > ul {
				padding-inline-start: 0;
				& li {
					list-style: none;
					&::before {
						content: '-';
						font-weight: 500;
						padding-right: .4rem;
					}
				}
			}

			&-image {
				padding-bottom: 15px;
			}
		}
	}

	&__description {
		&-text {
			white-space: pre-line;
			font-family: $gilroy-medium;
			font-size: 1.8rem;
			line-height: 25px;
			color: $color-dark-gray;
		}
		
		& > ul > li > a {
			font-family: $gilroy-bold;
			font-size: 1.8rem;
		}

		& > ul {
			border-bottom: 1px solid $color-light-gray;
			color: $color-dark-gray;	
			height: 40px;

			& > li {
				margin-right: 20px;
				height: 2.4rem;
				font-family: $gilroy-bold;
				font-size: 1.8rem;
				line-height: 1.28;
				color: $color-dark-gray;

				@include respond(tab-port) {
					padding: unset;
				}	

				&.nav-item {
					height: 100%;
					&.active {
						color: #8dcfd9 !important;
						border-bottom: solid 3px $color-light-gray !important;
					}
				}

				& > a {
					padding: unset;
					border: unset !important;

					&.active {
						margin-bottom: -2px;
					}
				}
			}
		}

		& > .tab-content {
			padding-top: 3rem;
			line-height: 1.8 !important;
			color: $color-dark-gray;

			@extend .font-regular;
		}

		&-specs {
			border: unset !important;

			& > * {
				// font-size: 1.8rem;
			}

			& > tr > th,
			td {
				border: unset;
			}

			& > .active {
				background-color: $color-second-white;
			}
		}
	}

	&__table {
		&-tr {
			line-height: 36px;
		}

		&-th {
			font-family: $gilroy-bold;
			// line-height: 26px;
		}

		&-td {
			font-family: $gilroy-medium;
			font-size: 1.4rem;
			text-align: right;

		}
	}

	&__contacts {

		&.wrapper {
			@include respond(phone) {
				margin-top: 3rem;
			}
		}

		& ul {
			margin-bottom: 4rem;		
		}

		&-link {			
			margin-top: 1.8rem;
			& > a {
				font-family: $gilroy-bold;
				color: $color-primary !important;
			}
		}

		& > h3 {
			line-height: 27px;
			color: $color-dark-gray;
			
			height: 40px;
			margin-bottom: 30px;
			border: unset;
			border-bottom: 1px solid $color-light-gray;

			@include respond(tab-port) {
				margin-bottom: 20px;
			}
		}

		& > li {
			border: unset;
			padding-left: unset;

			& > h5 {
				color: $color-dark-gray;
			}
			& > .list-group-item-text {
				font-size: 1.4rem;
				font-weight: 500;
				color: $color-dark-gray;
				margin-bottom: 0;
			}
		}
	}
}
