@charset "UTF-8";
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
*/
@font-face {
  font-family: "GilroyRegular";
  src: local("GilroyRegular"), url("../fonts/Gilroy-Regular.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "GilroyMedium";
  src: url("../fonts/Gilroy-Medium.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "GilroyBold";
  src: url("../fonts/Gilroy-Bold.otf");
  font-weight: normal;
  font-style: normal; }

html,
body {
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  font-size: 62.5%; }
  @media only screen and (max-width: 56.25em) {
    html,
    body {
      font-size: 50%; } }
  @media only screen and (max-width: 75em) {
    html,
    body {
      font-size: 56.25%; } }

h1,
h2,
h3,
.konkka-card .card-body .card-title,
h4,
h5,
h6 {
  font-family: "GilroyBold";
  color: #50555d; }

h1 {
  font-size: 3.2rem;
  letter-spacing: -0.3px; }
  @media (min-width: 768px) {
    h1 {
      font-size: 4.8rem;
      letter-spacing: -0.5px; } }

h2 {
  font-size: 2.4rem; }


h3,
.konkka-card .card-body .card-title {
  font-size: 1.8rem;
  line-height: 2.3rem; }

h4 {
  font-size: 1.4rem;
  line-height: 2.3rem; }

.container.no-padding {
  padding: unset; }

.ingress {
  font-family: "GilroyRegular";
  font-size: 1.8rem;
  line-height: 2.9rem;
  color: #50555d; }

p {
  font-size: 1.4rem;
  font-family: "GilroyMedium";
  line-height: 2rem;
  color: #50555d; }

.font-small {
  font-size: 1.2rem;
  line-height: 1.65rem;
  color: #50555d; }

.font-regular, .modal-title, .nav-link > button, .login-form__input, .login-form__button, .product__description > .tab-content {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.43;
  color: #50555d; }

.font-intro {
  font-size: 1.8rem;
  line-height: 1.61;
  color: #50555d; }

@media (min-width: 1280px) {
  .container {
    max-width: 1340px; } }

.flex {
  display: flex;
  align-content: center;
  align-items: center; }

input[type="text"] {
  border-radius: 25px;
  border: 2px solid #8dcfd9; }

.btn {
  border-radius: 25px !important;
  border-color: #8dcfd9 !important;
  background-color: #8dcfd9 !important; }

.btn {
  box-shadow: unset !important; }

.btn-danger {
  box-shadow: unset !important; }

#heroSearch {
  font-size: 1.6rem; }

.hero {
  background-color: #fff;
  padding: 80px 0; }
  @media only screen and (max-width: 37.5em) {
    .hero {
      padding: 4rem 0 !important; } }

.hero-container {
  padding-bottom: 4rem; }
  @media only screen and (max-width: 37.5em) {
    .hero-container {
      padding: 2rem 0; } }
  .hero-container .page-title {
    text-align: center;
    margin: 0 auto;
    width: 90rem;
    max-width: 100%; }
  .hero-container .hero-filters {
    max-width: 60rem;
    margin: 3rem auto;
    color: #f17c61;
    font-family: "GilroyBold";
    font-size: 14px; }
    @media only screen and (max-width: 37.5em) {
      .hero-container .hero-filters {
        display: none; } }
    .hero-container .hero-filters .row {
      text-align: center; }
  .hero-container .search-form {
    max-width: 52rem;
    margin: 0 auto; }
    @media only screen and (max-width: 37.5em) {
      .hero-container .search-form {
        padding: 3.4rem 1.5rem 0 1.5rem; } }
    .hero-container .search-form__flex {
      display: flex;
      justify-content: space-around;
      align-items: center;
      align-content: center;
      flex-wrap: wrap; }
    .hero-container .search-form__filter {
      padding-left: 2rem; }

#heroSearch {
  border-radius: 5rem;
  height: 5rem;
  padding: 0 1.5rem;
  border: 3px solid #8dcfd9; }
  #heroSearch::placeholder {
    color: #c7c7c7;
    font-family: "GilroyBold"; }

.konkka-card {
  margin-bottom: 35px;
  border: none; }
  .konkka-card img {
    height: 270px;
    border-radius: 0; }
  .konkka-card .card-body {
    padding: 1.25rem 0;
    color: #2a2c3f; }
    .konkka-card .card-body .card-title {
      display: flex;
      justify-content: space-between; }
    .konkka-card .card-body .card-bottom {
      display: flex;
      justify-content: space-between; }

.filter > div > select {
  border: unset !important; }

.filter__flex {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .filter__flex.no-padding {
    padding: unset; }

.filter__group {
  margin: unset;
  padding-bottom: 2rem; }

.filter__input-rounded {
  padding: 0 10px;
  border: 2px solid #c7c7c7;
  border-radius: 18px; }
  @media only screen and (max-width: 37.5em) {
    .filter__input-rounded.small {
      width: 47.5%; } }

.filter__checkbox {
  padding-top: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .filter__checkbox {
      padding-top: 0; } }
  .filter__checkbox-label {
    font-family: "GilroyMedium";
    font-size: 1.4rem;
    font-weight: 500;
    color: #50555d; }
    @media only screen and (max-width: 37.5em) {
      .filter__checkbox-label {
        width: 47.5%;
        padding: 10px 5px;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        display: flex; } }
  .filter__checkbox-input {
    padding-right: 5rem;
    height: 1.5rem !important;
    width: 1.5rem !important;
    background-color: unset;
    border: 1px solid #50555d; }

.filter__search-label {
  font-family: "GilroyBold";
  font-size: 1.4rem;
  color: #50555d;
  padding-bottom: .8rem;
  margin-bottom: unset; }

.filter__input-rounded > * {
  font-size: 14px !important;
  height: 36px !important; }

.form-check-input {
  position: unset;
  margin-top: unset;
  margin-left: unset; }

select {
  outline: none !important;
  border: unset !important;
  box-shadow: none !important; }

.bidlist {
  max-height: 15rem;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  overflow-x: scroll; }
  .bidlist.toggle {
    visibility: visible;
    height: 100%;
    opacity: 1;
    transition: all linear .5s; }
  .bidlist.hidden {
    visibility: hidden;
    height: 0;
    opacity: 0;
    transition: all linear .5s; }
  .bidlist__container {
    margin-bottom: 5rem; }
    .bidlist__container.toggle {
      border-bottom: 1px solid #dee2e6;
      margin-bottom: 50px;
      transform: all .7s linear; }
    .bidlist__container.hidden {
      border: unset;
      margin-bottom: 0;
      transform: all .5s linear; }
    .bidlist__container > thead > tr > th {
      padding-left: 0 !important;
      border: unset !important; }
  .bidlist__head {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    border-bottom: 1px solid #dee2e6 !important;
    height: 2rem; }
    .bidlist__head-title {
      width: 100%;
      font-family: "GilroyBold";
      font-size: 1.4rem;
      line-height: 1.5;
      color: #33363b; }
    .bidlist__head-arrow {
      padding: 0 !important;
      color: #c7c7c7;
      transition: all .2s linear; }
      .bidlist__head-arrow.toggle {
        transform: rotate(90deg);
        transition: all .2s linear; }
  .bidlist__row {
    font-family: "GilroyMedium";
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: normal; }
    .bidlist__row > th {
      font-family: inherit;
      width: 2.5rem; }
    .bidlist__row-name {
      font-family: inherit;
      padding-left: unset;
      max-width: 12rem; }
    .bidlist__row-bid {
      max-width: 400px;
      width: 100%; }
    .bidlist__row-amount {
      display: flex;
      justify-content: flex-end;
      font-family: inherit; }

.bid-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .bid-form > input {
    max-width: 24.5rem;
    padding-left: 1rem;
    height: 3.6rem; }
  .bid-form > button {
    max-width: 16rem;
    height: 3.6rem;
    padding: 0 2rem;
    background-color: #8dcfd9;
    border: solid 2px #8dcfd9;
    font-family: "GilroyRegular";
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    color: #fff; }
    @media screen and (max-width: 1290px) {
      .bid-form > button {
        margin-top: 1rem; } }
  .bid-form__alert {
    margin-top: 1rem; }
    .bid-form__alert-minimum {
      margin-top: 1rem;
      max-width: 48rem;
      height: 3rem;
      font-family: "GilroyRegular";
      font-size: 1.2rem;
      font-weight: 500;
      color: #50555d; }

.link__contacts -question {
  font-weight: bold;
  color: #8dcfd9; }

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-content: flex-end;
  border: unset; }
  .modal-header > button > span {
    font-size: 4.4rem;
    font-weight: 300;
    color: #f17c61; }

.modal-title {
  font-family: "GilroyBold" !important;
  font-size: 2.4rem !important; }

.modal-popup {
  max-width: 38rem;
  max-height: 30rem; }
  .modal-popup > .modal-content {
    height: 100%;
    padding: 3rem  3rem 3.5rem 3rem; }

.footer-wrapper {
  background-color: #727881; }

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #c7c7c7; }
  @media (min-width: 1280px) {
    .footer {
      max-width: 1340px;
      margin: 0 auto;
      padding: 0 15px; } }
  .footer .footer-top {
    display: flex;
    justify-content: space-between;
    padding: 35px 0 20px 0;
    border-bottom: 1px solid #c7c7c7; }
    .footer .footer-top .footer-some a {
      color: #c7c7c7;
      font-family: "GilroyMedium"; }
  .footer .footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 35px 0;
    flex-direction: column; }
    @media (min-width: 768px) {
      .footer .footer-bottom {
        flex-direction: row; } }
    .footer .footer-bottom .footer-newsletter a {
      color: #c7c7c7;
      font-family: "GilroyMedium"; }
    .footer .footer-bottom .footer-menu nav ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      .footer .footer-bottom .footer-menu nav ul li {
        display: block;
        margin-right: 20px; }
        @media (min-width: 768px) {
          .footer .footer-bottom .footer-menu nav ul li {
            display: inline; } }
        .footer .footer-bottom .footer-menu nav ul li:last-child {
          margin-right: 0; }
        .footer .footer-bottom .footer-menu nav ul li a {
          color: #c7c7c7;
          font-family: "GilroyMedium"; }

.header {
  padding: 0px 2rem;
  height: 5rem; }

.navbar {
  height: 100%; }
  .navbar-brand {
    color: #fff !important; }
  .navbar > button {
    background-color: #fff; }
    .navbar > button > span {
      color: #33363b;
      background-color: #33363b; }

@media only screen and (max-width: 37.5em) {
  .nav-link {
    text-align: center; } }

.nav-link > button {
  font-family: "GilroyMedium";
  font-size: 1.4rem;
  color: #fff; }

.konkka-navbar {
  background-color: #8dcfd9; }
  .konkka-navbar a {
    color: #fff;
    font-family: "GilroyMedium";
    font-size: 14px; }

.single-product-header {
  width: 100%; }
  .single-product-header img {
    max-height: 400px; }

.navbar-collapse {
  position: absolute;
  right: 0px;
  margin-top: 17px; }

.single-product-container {
  margin-top: 30px;
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .single-product-container {
      margin-top: 60px;
      margin-bottom: 60px; } }
  .single-product-container .list-group-item {
    border: none;
    padding: 0; }
  .single-product-container .bid-form {
    display: flex; }
  .single-product-container .bid-current-price .list-group-item-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #c7c7c7; }
  .single-product-container .bid-time-left {
    display: flex;
    justify-content: space-between; }

.login-form {
  padding: unset; }
  .login-form > * input {
    border-radius: 1.8rem;
    border: solid 2px #c7c7c7;
    background-color: #fff;
    max-width: 30rem;
    max-height: 3.6rem; }
  .login-form__flex-remember {
    display: flex !important;
    align-content: center;
    align-items: center; }
    .login-form__flex-remember > label {
      margin: unset !important; }
  .login-form__input {
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    height: 3.6rem;
    padding-left: 2rem; }
  .login-form__button {
    font-family: "GilroyMedium"; }
    .login-form__button > label {
      margin: unset !important;
      padding-left: unset; }
    .login-form__button > input {
      margin-right: .5rem; }
    .login-form__button.padding-30 {
      padding-top: 3rem;
      padding-bottom: 3rem; }
    .login-form__button.no-padding {
      padding-left: unset; }
    .login-form__button-login {
      width: 100% !important;
      height: 3.6rem;
      font-family: "GilroyBold";
      font-size: 1.4rem; }
    .login-form__button-forgot {
      float: right; }

.product__container {
  padding-bottom: 5rem; }

.product__header {
  width: 100%; }
  .product__header > img {
    width: 100%;
    max-height: 52rem;
    object-fit: cover;
    object-position: center; }

.product__price {
  padding: unset;
  border: none;
  max-height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center; }
  .product__price > h2:last-child {
    color: #33363b; }
  .product__price-line {
    border: solid 0.1rem rgba(199, 199, 199, 0.3);
    margin-bottom: 2rem; }

.product__timer {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  border: unset;
  padding: unset; }
  .product__timer-container {
    padding-bottom: 3.5rem; }
  .product__timer-title {
    max-width: 28rem;
    height: 2.5rem;
    padding-right: 1rem;
    margin: unset;
    font-family: "GilroyBold";
    font-size: 1.8rem;
    line-height: 1.28;
    color: #33363b; }
  .product__timer-time {
    max-width: 18rem;
    height: 2.5rem;
    margin: unset;
    font-family: "GilroyBold";
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.28;
    color: #f17c61; }

.product__location {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center; }
  .product__location > div {
    max-width: 100% !important;
    height: 16rem;
    padding: 1.5rem 2rem;
    background-color: #f8f8f8; }
    .product__location > div:first-child {
      margin-right: .5rem; }
    .product__location > div:last-child {
      margin-left: .5rem; }
    .product__location > div > p  {
      margin-bottom: unset !important; }
  .product__location-delivery > ul {
    padding-left: 2rem; }

.product__description > ul {
  border-bottom: 1px solid #c7c7c7;
  padding: .1rem 0; }
  .product__description > ul > li {
    margin-right: 20px;
    height: 2.4rem;
    font-family: "GilroyBold";
    font-size: 1.8rem;
    line-height: 1.28;
    color: #33363b; }
    .product__description > ul > li > a {
      padding: unset;
      border: unset !important; }
      .product__description > ul > li > a.active {
        border-bottom: solid 3px #c7c7c7 !important;
        margin-bottom: -2px;
        color: #8dcfd9 !important; }

.product__description > .tab-content {
  padding-top: 3rem;
  line-height: 1.8 !important;
  color: #33363b; }

.product__description-specs {
  border: unset !important; }
  .product__description-specs > tr > th, .product__description-specs td {
    border: unset; }
  .product__description-specs > .active {
    background-color: #f8f8f8; }

.product__contacts > h4 {
  color: #33363b;
  border: unset;
  border-bottom: 1px solid #c7c7c7; }

.product__contacts > li {
  border: unset;
  padding-left: unset; }
  .product__contacts > li > h5 {
    color: #33363b; }
  .product__contacts > li > p {
    font-size: 1.4rem;
    font-weight: 500;
    color: #33363b;
    margin: unset; }

.front__list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.5rem; }
  .front__list > label {
    font-family: "GilroyMedium";
    font-size: 12px;
    font-weight: 500;
    color: #50555d; }
