@charset "UTF-8";
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }

.hamburger:hover {
  opacity: 0.7; }

.hamburger.is-active:hover {
  opacity: 0.7; }

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease; }

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block; }

.hamburger-inner::before {
  top: -10px; }

.hamburger-inner::after {
  bottom: -10px; }

/*
   * 3DX
   */
.hamburger--3dx .hamburger-box {
  perspective: 80px; }

.hamburger--3dx .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dx .hamburger-inner::before, .hamburger--3dx .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dx.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateY(180deg); }

.hamburger--3dx.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg); }

.hamburger--3dx.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * 3DX Reverse
   */
.hamburger--3dx-r .hamburger-box {
  perspective: 80px; }

.hamburger--3dx-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dx-r .hamburger-inner::before, .hamburger--3dx-r .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dx-r.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateY(-180deg); }

.hamburger--3dx-r.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg); }

.hamburger--3dx-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * 3DY
   */
.hamburger--3dy .hamburger-box {
  perspective: 80px; }

.hamburger--3dy .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dy .hamburger-inner::before, .hamburger--3dy .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dy.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateX(-180deg); }

.hamburger--3dy.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg); }

.hamburger--3dy.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * 3DY Reverse
   */
.hamburger--3dy-r .hamburger-box {
  perspective: 80px; }

.hamburger--3dy-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dy-r .hamburger-inner::before, .hamburger--3dy-r .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dy-r.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateX(180deg); }

.hamburger--3dy-r.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg); }

.hamburger--3dy-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * 3DXY
   */
.hamburger--3dxy .hamburger-box {
  perspective: 80px; }

.hamburger--3dxy .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dxy .hamburger-inner::before, .hamburger--3dxy .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dxy.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateX(180deg) rotateY(180deg); }

.hamburger--3dxy.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg); }

.hamburger--3dxy.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * 3DXY Reverse
   */
.hamburger--3dxy-r .hamburger-box {
  perspective: 80px; }

.hamburger--3dxy-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dxy-r .hamburger-inner::before, .hamburger--3dxy-r .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dxy-r.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateX(180deg) rotateY(180deg) rotateZ(-180deg); }

.hamburger--3dxy-r.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg); }

.hamburger--3dxy-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * Arrow
   */
.hamburger--arrow.is-active .hamburger-inner::before {
  transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1); }

.hamburger--arrow.is-active .hamburger-inner::after {
  transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1); }

/*
   * Arrow Right
   */
.hamburger--arrow-r.is-active .hamburger-inner::before {
  transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1); }

.hamburger--arrow-r.is-active .hamburger-inner::after {
  transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1); }

/*
   * Arrow Alt
   */
.hamburger--arrowalt .hamburger-inner::before {
  transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt .hamburger-inner::after {
  transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt.is-active .hamburger-inner::before {
  top: 0;
  transform: translate3d(-8px, -10px, 0) rotate(-45deg) scale(0.7, 1);
  transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

.hamburger--arrowalt.is-active .hamburger-inner::after {
  bottom: 0;
  transform: translate3d(-8px, 10px, 0) rotate(45deg) scale(0.7, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

/*
   * Arrow Alt Right
   */
.hamburger--arrowalt-r .hamburger-inner::before {
  transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt-r .hamburger-inner::after {
  transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt-r.is-active .hamburger-inner::before {
  top: 0;
  transform: translate3d(8px, -10px, 0) rotate(45deg) scale(0.7, 1);
  transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

.hamburger--arrowalt-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: translate3d(8px, 10px, 0) rotate(-45deg) scale(0.7, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

/*
   * Arrow Turn
   */
.hamburger--arrowturn.is-active .hamburger-inner {
  transform: rotate(-180deg); }

.hamburger--arrowturn.is-active .hamburger-inner::before {
  transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1); }

.hamburger--arrowturn.is-active .hamburger-inner::after {
  transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1); }

/*
   * Arrow Turn Right
   */
.hamburger--arrowturn-r.is-active .hamburger-inner {
  transform: rotate(-180deg); }

.hamburger--arrowturn-r.is-active .hamburger-inner::before {
  transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1); }

.hamburger--arrowturn-r.is-active .hamburger-inner::after {
  transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1); }

/*
   * Boring
   */
.hamburger--boring .hamburger-inner, .hamburger--boring .hamburger-inner::before, .hamburger--boring .hamburger-inner::after {
  transition-property: none; }

.hamburger--boring.is-active .hamburger-inner {
  transform: rotate(45deg); }

.hamburger--boring.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0; }

.hamburger--boring.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg); }

/*
   * Collapse
   */
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse .hamburger-inner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }

.hamburger--collapse .hamburger-inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger--collapse.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }

.hamburger--collapse.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Collapse Reverse
   */
.hamburger--collapse-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse-r .hamburger-inner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }

.hamburger--collapse-r .hamburger-inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse-r.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger--collapse-r.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }

.hamburger--collapse-r.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Elastic
   */
.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.hamburger--elastic .hamburger-inner::before {
  top: 10px;
  transition: opacity 0.125s 0.275s ease; }

.hamburger--elastic .hamburger-inner::after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s; }

.hamburger--elastic.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0; }

.hamburger--elastic.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-270deg);
  transition-delay: 0.075s; }

/*
   * Elastic Reverse
   */
.hamburger--elastic-r .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.hamburger--elastic-r .hamburger-inner::before {
  top: 10px;
  transition: opacity 0.125s 0.275s ease; }

.hamburger--elastic-r .hamburger-inner::after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.hamburger--elastic-r.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(-135deg);
  transition-delay: 0.075s; }

.hamburger--elastic-r.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0; }

.hamburger--elastic-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(270deg);
  transition-delay: 0.075s; }

/*
   * Emphatic
   */
.hamburger--emphatic {
  overflow: hidden; }

.hamburger--emphatic .hamburger-inner {
  transition: background-color 0.125s 0.175s ease-in; }

.hamburger--emphatic .hamburger-inner::before {
  left: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in; }

.hamburger--emphatic .hamburger-inner::after {
  top: 10px;
  right: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in; }

.hamburger--emphatic.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent !important; }

.hamburger--emphatic.is-active .hamburger-inner::before {
  left: -80px;
  top: -80px;
  transform: translate3d(80px, 80px, 0) rotate(45deg);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }

.hamburger--emphatic.is-active .hamburger-inner::after {
  right: -80px;
  top: -80px;
  transform: translate3d(-80px, 80px, 0) rotate(-45deg);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }

/*
   * Emphatic Reverse
   */
.hamburger--emphatic-r {
  overflow: hidden; }

.hamburger--emphatic-r .hamburger-inner {
  transition: background-color 0.125s 0.175s ease-in; }

.hamburger--emphatic-r .hamburger-inner::before {
  left: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in; }

.hamburger--emphatic-r .hamburger-inner::after {
  top: 10px;
  right: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in; }

.hamburger--emphatic-r.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent !important; }

.hamburger--emphatic-r.is-active .hamburger-inner::before {
  left: -80px;
  top: 80px;
  transform: translate3d(80px, -80px, 0) rotate(-45deg);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }

.hamburger--emphatic-r.is-active .hamburger-inner::after {
  right: -80px;
  top: 80px;
  transform: translate3d(-80px, -80px, 0) rotate(45deg);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }

/*
   * Minus
   */
.hamburger--minus .hamburger-inner::before, .hamburger--minus .hamburger-inner::after {
  transition: bottom 0.08s 0s ease-out, top 0.08s 0s ease-out, opacity 0s linear; }

.hamburger--minus.is-active .hamburger-inner::before, .hamburger--minus.is-active .hamburger-inner::after {
  opacity: 0;
  transition: bottom 0.08s ease-out, top 0.08s ease-out, opacity 0s 0.08s linear; }

.hamburger--minus.is-active .hamburger-inner::before {
  top: 0; }

.hamburger--minus.is-active .hamburger-inner::after {
  bottom: 0; }

/*
   * Slider
   */
.hamburger--slider .hamburger-inner {
  top: 2px; }

.hamburger--slider .hamburger-inner::before {
  top: 10px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.15s; }

.hamburger--slider .hamburger-inner::after {
  top: 20px; }

.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg); }

.hamburger--slider.is-active .hamburger-inner::before {
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0; }

.hamburger--slider.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-90deg); }

/*
   * Slider Reverse
   */
.hamburger--slider-r .hamburger-inner {
  top: 2px; }

.hamburger--slider-r .hamburger-inner::before {
  top: 10px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.15s; }

.hamburger--slider-r .hamburger-inner::after {
  top: 20px; }

.hamburger--slider-r.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(-45deg); }

.hamburger--slider-r.is-active .hamburger-inner::before {
  transform: rotate(45deg) translate3d(5.71429px, -6px, 0);
  opacity: 0; }

.hamburger--slider-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(90deg); }

/*
   * Spin
   */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }

.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }

.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Spin Reverse
   */
.hamburger--spin-r .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin-r .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }

.hamburger--spin-r .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin-r.is-active .hamburger-inner {
  transform: rotate(-225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger--spin-r.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }

.hamburger--spin-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Spring
   */
.hamburger--spring .hamburger-inner {
  top: 2px;
  transition: background-color 0s 0.13s linear; }

.hamburger--spring .hamburger-inner::before {
  top: 10px;
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spring .hamburger-inner::after {
  top: 20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.22s;
  background-color: transparent !important; }

.hamburger--spring.is-active .hamburger-inner::before {
  top: 0;
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(45deg); }

.hamburger--spring.is-active .hamburger-inner::after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(-45deg); }

/*
   * Spring Reverse
   */
.hamburger--spring-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spring-r .hamburger-inner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0s linear; }

.hamburger--spring-r .hamburger-inner::before {
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spring-r.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger--spring-r.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0s 0.22s linear; }

.hamburger--spring-r.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(90deg);
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Stand
   */
.hamburger--stand .hamburger-inner {
  transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear; }

.hamburger--stand .hamburger-inner::before {
  transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--stand .hamburger-inner::after {
  transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--stand.is-active .hamburger-inner {
  transform: rotate(90deg);
  background-color: transparent !important;
  transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear; }

.hamburger--stand.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-45deg);
  transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger--stand.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(45deg);
  transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Stand Reverse
   */
.hamburger--stand-r .hamburger-inner {
  transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear; }

.hamburger--stand-r .hamburger-inner::before {
  transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--stand-r .hamburger-inner::after {
  transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--stand-r.is-active .hamburger-inner {
  transform: rotate(-90deg);
  background-color: transparent !important;
  transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear; }

.hamburger--stand-r.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-45deg);
  transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger--stand-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(45deg);
  transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Squeeze
   */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease; }

.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease; }

.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Vortex
   */
.hamburger--vortex .hamburger-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }

.hamburger--vortex .hamburger-inner::before, .hamburger--vortex .hamburger-inner::after {
  transition-duration: 0s;
  transition-delay: 0.1s;
  transition-timing-function: linear; }

.hamburger--vortex .hamburger-inner::before {
  transition-property: top, opacity; }

.hamburger--vortex .hamburger-inner::after {
  transition-property: bottom, transform; }

.hamburger--vortex.is-active .hamburger-inner {
  transform: rotate(765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }

.hamburger--vortex.is-active .hamburger-inner::before, .hamburger--vortex.is-active .hamburger-inner::after {
  transition-delay: 0s; }

.hamburger--vortex.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0; }

.hamburger--vortex.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(90deg); }

/*
   * Vortex Reverse
   */
.hamburger--vortex-r .hamburger-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }

.hamburger--vortex-r .hamburger-inner::before, .hamburger--vortex-r .hamburger-inner::after {
  transition-duration: 0s;
  transition-delay: 0.1s;
  transition-timing-function: linear; }

.hamburger--vortex-r .hamburger-inner::before {
  transition-property: top, opacity; }

.hamburger--vortex-r .hamburger-inner::after {
  transition-property: bottom, transform; }

.hamburger--vortex-r.is-active .hamburger-inner {
  transform: rotate(-765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }

.hamburger--vortex-r.is-active .hamburger-inner::before, .hamburger--vortex-r.is-active .hamburger-inner::after {
  transition-delay: 0s; }

.hamburger--vortex-r.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0; }

.hamburger--vortex-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg); }

/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
*/
@font-face {
  font-family: "GilroyRegular";
  src: local("GilroyRegular"), url("../fonts/Gilroy-Regular.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "GilroyMedium";
  src: url("../fonts/Gilroy-Medium.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "GilroyBold";
  src: url("../fonts/Gilroy-Bold.otf");
  font-weight: normal;
  font-style: normal; }

html,
body {
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  font-size: 10px;
  font-family: 'GilroyRegular'; }

.App {
  overflow: hidden; }

h1,
h2,
h3,
.konkka-card .card-body .card-title,
h4,
h5,
h6 {
  font-family: "GilroyBold";
  color: #50555d; }

h1 {
  font-size: 3.2rem;
  letter-spacing: -0.3px; }
  @media (min-width: 768px) {
    h1 {
      font-size: 4.8rem;
      letter-spacing: -0.5px; } }

h2 {
  font-size: 2.4rem; }


h3,
.konkka-card .card-body .card-title {
  font-size: 1.8rem;
  line-height: 2.3rem; }

h4 {
  font-size: 1.4rem;
  line-height: 2.3rem; }

.container.no-padding {
  padding: unset; }

.ingress {
  font-family: "GilroyRegular";
  font-size: 1.8rem;
  line-height: 2.9rem;
  color: #50555d; }

p {
  font-size: 1.4rem;
  font-family: "GilroyMedium";
  line-height: 2rem;
  color: #50555d; }

.font-small {
  font-size: 1.2rem;
  line-height: 1.65rem;
  color: #50555d; }

.font-regular, .modal-title, .nav-link, .login-form__input, .login-form__button, .product__description > .tab-content {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.43;
  color: #50555d; }

.font-intro {
  font-size: 1.8rem;
  line-height: 1.61;
  color: #50555d; }

@media (min-width: 1280px) {
  .container {
    max-width: 1340px; } }

.container-fluid {
  max-width: 1310px; }
  .container-fluid.footer-wrapper {
    max-width: unset; }

.flex {
  display: flex;
  align-content: center;
  align-items: center; }

.form-control {
  font-size: 14px; }

fieldset:disabled {
  outline-color: none; }
  fieldset:disabled select {
    background-color: #fff !important;
    outline-color: none; }
  fieldset:disabled * > select {
    background-color: #fff !important;
    outline-color: none; }

.close {
  outline: none !important; }

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0; }

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none; }

input[type="text"] {
  border-radius: 25px;
  border: 2px solid #8dcfd9; }

.btn {
  border-radius: 25px !important;
  border-color: #8dcfd9 !important;
  background-color: #8dcfd9 !important; }

.btn {
  box-shadow: unset !important; }

.btn-danger {
  box-shadow: unset !important; }

.hero {
  background-color: #fff;
  padding: 80px 0; }
  @media only screen and (max-width: 767.9px) {
    .hero {
      padding: 80px 0 20px 0; } }

@media only screen and (max-width: 767.9px) {
  .hero-container {
    padding: 2rem 0; } }

.hero-container .page-title {
  text-align: center;
  margin: 0 auto;
  width: 90rem;
  max-width: 100%; }

.hero-container .hero-filter {
  padding-top: 5px;
  padding-bottom: 5px; }
  .hero-container .hero-filter.active {
    border-bottom: 2px solid #f17c61; }

.hero-container .hero-filters {
  max-width: 420px;
  margin: 0 auto;
  padding: 3rem 0;
  color: #f17c61;
  font-family: "GilroyBold";
  font-size: 14px; }
  @media only screen and (max-width: 767.9px) {
    .hero-container .hero-filters {
      display: none; } }
  .hero-container .hero-filters .row {
    text-align: center; }
  .hero-container .hero-filters-category > .items {
    display: flex !important;
    justify-content: space-evenly;
    text-align: center; }
  .hero-container .hero-filters-category.show {
    display: block; }

.konkka-card {
  height: 100%;
  padding-bottom: 35px;
  border: none; }
  @media only screen and (max-width: 767.9px) {
    .konkka-card {
      max-width: 500px;
      margin: auto; } }
  .konkka-card img {
    height: 270px;
    border-radius: 0; }
  .konkka-card .card-body {
    padding: 1.25rem 0;
    color: #2a2c3f;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100px;
    max-width: 500px; }
    .konkka-card .card-body .card-title {
      display: flex;
      justify-content: space-between; }
      .konkka-card .card-body .card-title > span {
        text-align: right;
        max-width: 125px; }
        .konkka-card .card-body .card-title > span::after {
          content: '€';
          margin-left: -4px; }
    .konkka-card .card-body .card-top {
      display: flex;
      justify-content: space-between; }
      .konkka-card .card-body .card-top > h5:first-child {
        max-width: 300px;
        margin-right: 20px; }
      .konkka-card .card-body .card-top > .product-price::after {
        content: '€';
        text-align: right;
        max-width: 120px;
        padding-left: 4px; }
    .konkka-card .card-body .card-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      height: 100%; }
      .konkka-card .card-body .card-bottom > .location {
        margin: 0; }
      .konkka-card .card-body .card-bottom > * {
        font-family: "GilroyMedium";
        font-size: 1.4rem; }

.card__image {
  max-width: 500px;
  width: 100%;
  height: 280px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.card__timer {
  font-variant-numeric: tabular-nums;
  text-align: right; }

.filter {
  padding-top: 40px; }
  @media only screen and (max-width: 767.9px) {
    .filter {
      padding-top: unset; } }
  .filter > div > select {
    border: unset !important;
    padding-top: 40px; }
  .filter__wrapper {
    justify-content: space-between;
    padding-bottom: 15px; }
    .filter__wrapper > div > label {
      padding: 0; }
    @media only screen and (max-width: 767.9px) {
      .filter__wrapper {
        max-width: 500px;
        margin: auto; }
        .filter__wrapper > div {
          padding: 0; } }
  .filter__title-total {
    align-items: flex-start;
    margin-top: .5rem;
    font-family: "GilroyMedium";
    font-size: 1.2rem;
    color: #50555d; }
  .filter__image-hintarajaa {
    width: 122px;
    height: 36px;
    opacity: 0.9;
    border-radius: 0px 20px 20px 0px;
    background-color: #fff;
    position: absolute;
    top: 30px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .filter__image-hintarajaa p {
      margin-bottom: 0; }
  .filter__sort {
    text-align: right;
    display: flex;
    align-items: flex-end;
    flex-direction: column; }
    .filter__sort-label {
      display: flex;
      align-items: center; }
    .filter__sort-arrow::after {
      box-sizing: border-box;
      height: 10px;
      width: 10px;
      border-style: solid;
      border-color: #c7c7c7;
      border-width: 0px 1.5px 1.5px 0px;
      transform: rotate(-45deg);
      transition: all .2s ease-in; }
    .filter__sort-arrow.active {
      transform: rotate(45deg);
      transition: all .2s ease-in; }
    .filter__sort-text {
      margin-top: .7rem;
      margin-bottom: .7rem;
      padding-right: 7px; }
    .filter__sort-direction, .filter__sort-by {
      font-family: "GilroyMedium";
      font-size: 1.6rem;
      color: #50555d; }
      .filter__sort-direction-wrapper, .filter__sort-by-wrapper {
        padding-right: 16px; }
      .filter__sort-direction-wrapper input, .filter__sort-by-wrapper input {
        display: none; }
      .filter__sort-direction-wrapper label, .filter__sort-by-wrapper label {
        font-size: 1.2rem;
        margin-bottom: 7px;
        text-align: right; }
  .filter__flex {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: wrap; }
    .filter__flex.no-padding {
      padding: unset; }
  .filter__group {
    margin: unset;
    padding-bottom: 2rem; }
    @media only screen and (max-width: 992px) {
      .filter__group.sub {
        align-self: flex-end; } }
  .filter__input-rounded {
    padding: 0 10px;
    border: 2px solid #c7c7c7;
    border-radius: 18px; }
    .filter__input-rounded.price {
      width: 47.5%; }
    @media only screen and (max-width: 767.9px) {
      .filter__input-rounded.small {
        width: 47.5%; } }
  .filter__any-bid-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: right; }
  .filter__any-bid-input {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center; }
    @media only screen and (max-width: 1200px) {
      .filter__any-bid-input {
        justify-content: flex-start;
        padding-left: 0; } }
    .filter__any-bid-input label {
      margin-bottom: 0; }
  .filter__checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .filter__checkbox.filter__group {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .filter__checkbox.filter__group.filter__any-bid-wrapper {
        width: 100%; }
    @media only screen and (max-width: 767.9px) {
      .filter__checkbox {
        padding-top: 0; } }
    .filter__checkbox-label {
      font-family: "GilroyMedium";
      font-size: 1.4rem;
      font-weight: 500;
      color: #50555d;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: center; }
      @media only screen and (max-width: 767.9px) {
        .filter__checkbox-label {
          width: 47.5%;
          padding: 10px 5px; } }
    .filter__checkbox-input {
      padding-right: 5rem;
      height: 1.5rem !important;
      width: 1.5rem !important;
      background-color: unset;
      border: 1px solid #50555d; }
  .filter__search-label {
    font-family: "GilroyBold";
    font-size: 1.4rem;
    color: #50555d;
    padding-bottom: 1rem;
    margin-bottom: unset; }
  .filter__orderby > label {
    display: flex;
    align-items: center;
    font-family: "GilroyMedium"; }
    .filter__orderby > label.active:after {
      transform: rotate(135deg);
      transform-origin: center center; }
    .filter__orderby > label:after {
      content: "";
      position: relative;
      display: inline-block;
      width: 8px;
      height: 8px;
      border-right: 0.2px solid black;
      border-top: 0.2px solid black;
      margin-left: 5px;
      transform: rotate(45deg);
      transition: all .2s linear; }
  .filter__orderby > div {
    display: flex;
    flex-direction: column; }

.filter__input-rounded > * {
  font-size: 14px !important;
  height: 36px !important; }

.form-check-input {
  position: unset;
  margin-top: unset;
  margin-left: unset;
  margin-right: .5rem; }

select {
  outline: none !important;
  border: unset !important;
  box-shadow: none !important; }

.bidlist {
  max-height: 15rem;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  overflow-x: scroll; }
  .bidlist.toggle {
    visibility: visible;
    height: 100%;
    opacity: 1;
    transition: all linear .5s; }
  .bidlist.hidden {
    visibility: hidden;
    height: 0;
    opacity: 0;
    transition: all linear .5s; }
  .bidlist__container {
    margin-bottom: 2rem; }
    .bidlist__container.toggle {
      border-bottom: 1px solid #dee2e6;
      margin-bottom: 50px;
      transform: all .7s linear; }
    .bidlist__container.hidden {
      border: unset;
      margin-bottom: 0;
      transform: all .5s linear; }
    .bidlist__container > thead > tr > th {
      padding-left: 0 !important;
      border: unset !important; }
  .bidlist__head {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    border-bottom: 1px solid #dee2e6;
    height: 2rem;
    padding: 10px 0; }
    @media only screen and (max-width: 992px) {
      .bidlist__head {
        border-top: 1px solid #dee2e6;
        height: 40px; } }
    .bidlist__head-title {
      width: 100%;
      font-family: "GilroyBold";
      font-size: 1.4rem;
      line-height: 1.5;
      color: #33363b; }
    .bidlist__head-arrow {
      box-sizing: border-box;
      height: 10px;
      width: 10px;
      border-style: solid;
      border-color: #c7c7c7;
      border-width: 0px 1.5px 1.5px 0px;
      transform: rotate(-45deg);
      transition: all .2s ease-in; }
      .bidlist__head-arrow:hover {
        color: #33363b; }
      .bidlist__head-arrow.active {
        transform: rotate(45deg);
        transition: all .2s ease-in; }
  .bidlist__row {
    font-family: "GilroyMedium";
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: normal; }
    .bidlist__row > th {
      font-family: inherit;
      width: 2.5rem; }
    .bidlist__row-name {
      font-family: inherit;
      padding-left: unset;
      max-width: 12rem; }
    .bidlist__row-bid {
      max-width: 400px;
      width: 100%; }
    .bidlist__row-amount {
      display: flex;
      justify-content: flex-end;
      font-family: inherit; }

@media only screen and (max-width: 992px) {
  .product__contacts {
    padding: 50px 15px; } }

.bid-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .bid-form > input {
    max-width: 24.5rem;
    padding-left: 1rem;
    height: 3.6rem; }
  .bid-form > button {
    max-width: 16rem;
    height: 3.6rem;
    padding: 0 2rem;
    background-color: #8dcfd9;
    border: solid 2px #8dcfd9;
    font-family: "GilroyRegular";
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    color: #fff; }
    @media screen and (max-width: 1290px) {
      .bid-form > button {
        margin-top: 1rem; } }
  .bid-form__alert {
    margin-top: 1rem; }
    .bid-form__alert-minimum {
      margin-top: 1rem;
      max-width: 48rem;
      height: 3rem;
      font-family: "GilroyRegular";
      font-size: 1.2rem;
      font-weight: 500;
      color: #50555d; }

.slick__image-content {
  max-width: 100%;
  height: 520px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.slick-thumb {
  display: flex !important;
  flex-wrap: wrap;
  padding-top: 15px;
  padding-left: unset; }
  .slick-thumb > li {
    list-style-type: none;
    width: 85px;
    height: 60px;
    margin-right: 10px;
    margin-bottom: 10px; }
    .slick-thumb > li > a > img {
      width: 85px;
      height: 60px; }

.slick-slider > button {
  display: none !important; }

.slick-track {
  display: flex; }

.slick-list {
  max-height: 520px;
  overflow: hidden; }

.link__header {
  font-family: "GilroyMedium";
  font-size: 14px;
  font-weight: 500;
  color: #fff; }

.link__google-maps {
  margin: 20px 0 10px 0px; }
  .link__google-maps > a {
    font-family: "GilroyBold";
    font-size: 1.4rem;
    color: #8dcfd9; }

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-content: flex-end;
  border: unset; }
  .modal-header > button > span {
    font-size: 4.4rem;
    font-weight: 300;
    color: #f17c61; }

.modal-title {
  font-family: "GilroyBold" !important;
  font-size: 2.4rem !important; }

.modal-popup {
  max-width: 38rem;
  max-height: 30rem; }
  .modal-popup > .modal-content {
    height: 100%;
    padding: 3rem 3rem 3.5rem 3rem; }

#heroSearch {
  font-size: 1.6rem;
  max-width: 52rem;
  border-radius: 5rem;
  height: 5rem;
  padding: 0 2rem;
  border: 3px solid #8dcfd9; }
  #heroSearch::placeholder {
    color: #c7c7c7;
    font-family: "GilroyBold"; }
  @media only screen and (max-width: 992px) {
    #heroSearch {
      max-width: unset; } }

.search-form {
  margin: 0 auto; }
  @media only screen and (max-width: 992px) {
    .search-form {
      margin: 28px 0; } }
  .search-form__flex {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-right: -80px;
    overflow: hidden; }
    @media only screen and (max-width: 992px) {
      .search-form__flex {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0;
        margin-right: 0; } }
  .search-form__toggle {
    display: flex;
    align-items: center;
    padding-left: 40px; }
    @media only screen and (max-width: 992px) {
      .search-form__toggle {
        padding: 10px 25px 0 20px;
        justify-content: flex-start; } }
  .search-form__button {
    font-family: "GilroyBold";
    font-size: 1.4rem;
    text-align: center;
    color: rgba(199, 199, 199, 0.8);
    padding-left: 30px; }
    @media only screen and (max-width: 992px) {
      .search-form__button {
        position: absolute;
        right: 25px;
        padding-left: 0; } }
  .search-form__icon.close {
    width: 32px;
    height: 32px;
    opacity: 0.3;
    position: unset;
    float: unset;
    right: unset;
    top: unset;
    transition: all .4s ease-in-out; }
    @media only screen and (max-width: 992px) {
      .search-form__icon.close {
        display: flex;
        align-items: center; } }
    .search-form__icon.close:hover {
      opacity: 1; }
    .search-form__icon.close:before, .search-form__icon.close:after {
      position: absolute;
      top: 37.5%;
      left: unset;
      content: ' ';
      height: 14px;
      width: 2px;
      background-color: #f17c61; }
      @media only screen and (max-width: 992px) {
        .search-form__icon.close:before, .search-form__icon.close:after {
          top: unset; } }
    .search-form__icon.close:before {
      transform: rotate(45deg); }
    .search-form__icon.close:after {
      transform: rotate(-45deg); }

.footer-wrapper {
  background-color: #727881; }

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #c7c7c7; }
  @media only screen and (max-width: 992px) {
    .footer {
      padding: 0 15px; } }
  @media only screen and (max-width: 1200px) {
    .footer {
      padding: 0 50 ppx; } }
  @media (min-width: 1280px) {
    .footer {
      max-width: 1340px;
      margin: 0 auto;
      padding: 0 15px; } }
  .footer .footer-top {
    display: flex;
    justify-content: space-between;
    padding: 35px 0 20px 0;
    border-bottom: 1px solid #c7c7c7; }
    .footer .footer-top .footer-some a {
      color: #c7c7c7;
      font-family: "GilroyMedium"; }
  .footer .footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 75px 0;
    flex-direction: column; }
    @media only screen and (max-width: 992px) {
      .footer .footer-bottom {
        flex-direction: row-reverse; } }
    @media (min-width: 768px) {
      .footer .footer-bottom {
        flex-direction: row; } }
    .footer .footer-bottom .footer-newsletter a {
      color: #c7c7c7;
      font-family: "GilroyMedium"; }
    .footer .footer-bottom .footer-menu nav ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      .footer .footer-bottom .footer-menu nav ul li {
        display: block;
        margin-right: 20px; }
        @media (min-width: 768px) {
          .footer .footer-bottom .footer-menu nav ul li {
            display: inline; } }
        .footer .footer-bottom .footer-menu nav ul li:last-child {
          margin-right: 0; }
        .footer .footer-bottom .footer-menu nav ul li a {
          color: #c7c7c7;
          font-family: "GilroyMedium"; }

.navbar {
  height: 100%;
  align-content: center; }
  @media only screen and (max-width: 767.9px) {
    .navbar__side {
      position: fixed;
      top: 65px;
      right: -100%;
      height: 100vh;
      width: 100%;
      background: #8dcfd9;
      transition: all .4s ease-in; }
      .navbar__side.active {
        right: 0; } }
  .navbar > span > span {
    color: #fff !important; }
  .navbar-brand {
    color: #fff !important; }
  .navbar-collapse:not(.show) {
    display: flex !important; }

@media only screen and (max-width: 992px) {
  .nav {
    padding-left: unset;
    padding-right: unset; }
    .nav > a {
      padding: unset; }
    .nav-item {
      padding: 20px 0; } }

.nav-link {
  color: #fff;
  padding: unset;
  padding-right: 1.2rem !important;
  padding-left: 1.2rem !important;
  font-family: "GilroyMedium";
  font-size: 1.4rem; }
  .nav-link.link__header {
    color: #fff !important; }
  .nav-link img {
    padding-right: 5px; }
  @media only screen and (max-width: 767.9px) {
    .nav-link {
      text-align: center; } }

.header {
  padding: 0px 2rem;
  height: 5rem; }
  @media only screen and (max-width: 992px) {
    .header {
      height: 6.5rem;
      padding: 0px 15px; } }

.konkka-navbar {
  background-color: #8dcfd9; }
  @media only screen and (max-width: 767.9px) {
    .konkka-navbar {
      position: fixed;
      width: 100vw;
      z-index: 999999; } }
  .konkka-navbar a {
    color: #fff;
    font-family: "GilroyMedium";
    font-size: 14px; }

.single-product-header {
  width: 100%; }
  .single-product-header img {
    max-height: 400px; }

.single-product-container {
  margin-top: 30px;
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .single-product-container {
      margin-top: 60px;
      margin-bottom: 60px; } }
  .single-product-container .list-group-item {
    border: none;
    padding: 0; }
  .single-product-container .bid-form {
    display: flex; }
  .single-product-container .bid-current-price .list-group-item-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #c7c7c7; }
  .single-product-container .bid-time-left {
    display: flex;
    justify-content: space-between; }

.pagination {
  align-items: baseline;
  font-size: 1.4rem;
  font-family: "GilroyRegular"; }
  .pagination > li > button:disabled {
    padding-left: unset;
    padding-right: unset; }
  .pagination-arrow {
    border-radius: 25px !important;
    border: 2px solid rgba(199, 199, 199, 0.8);
    padding: .5rem 3rem;
    color: #50555d;
    width: 122px;
    height: 36px; }
    .pagination-arrow:active, .pagination-arrow:focus {
      border: 2px solid rgba(199, 199, 199, 0.8); }
    .pagination-arrow:hover {
      color: #2a2c3f;
      background-color: unset; }
    .pagination-arrow-li {
      padding: .4rem .6rem;
      margin: .4rem; }
  .pagination-link {
    background-color: unset;
    font-family: "GilroyMedium";
    font-size: 1.4rem;
    color: #2a2c3f;
    border: none;
    width: 38px;
    height: 38px; }
    .pagination-link:hover, .pagination-linkbutton:hover {
      border: 2px solid rgba(199, 199, 199, 0.4);
      border-radius: 50%; }
    .pagination-link:first-child, .pagination-link:last-child {
      border-radius: 50% !important; }
  .pagination__wrapper {
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center; }

.page-link:active, .page-link:focus {
  background-color: unset;
  box-shadow: unset;
  outline: none; }

.page-link:hover {
  background-color: unset; }

.page-item {
  padding: 2px; }

.page-item.active .page-link {
  border: 2px solid rgba(199, 199, 199, 0.8);
  border-radius: 50%;
  background-color: unset;
  color: #2a2c3f; }

.login-form {
  padding: unset; }
  .login-form > * input {
    border-radius: 1.8rem;
    border: solid 2px #c7c7c7;
    background-color: #fff;
    max-width: 30rem;
    max-height: 3.6rem; }
  .login-form__flex-remember {
    display: flex !important;
    align-content: center;
    align-items: center; }
    .login-form__flex-remember > label {
      margin: unset !important; }
  .login-form__input {
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    height: 3.6rem;
    padding-left: 2rem; }
  .login-form__button {
    font-family: "GilroyMedium"; }
    .login-form__button > label {
      margin: unset !important;
      padding-left: unset; }
    .login-form__button > input {
      margin-right: .5rem; }
    .login-form__button.padding-30 {
      padding-top: 3rem;
      padding-bottom: 3rem; }
    .login-form__button.no-padding {
      padding-left: unset; }
    .login-form__button-login {
      width: 100% !important;
      height: 3.6rem;
      font-family: "GilroyBold";
      font-size: 1.4rem; }
    .login-form__button-forgot {
      float: right; }

@media only screen and (max-width: 992px) {
  .hamburger {
    padding: unset !important; } }

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  background-color: white !important; }

@media only screen and (max-width: 767.9px) {
  .single-product__layout {
    margin-top: 80px; } }

.product__container {
  padding-bottom: 5rem; }

.product__header {
  width: 100%; }
  .product__header > img {
    width: 100%;
    max-height: 52rem;
    object-fit: cover;
    object-position: center; }
    @media only screen and (max-width: 767.9px) {
      .product__header > img {
        max-height: 22rem; } }

.product__title {
  padding-top: 54px;
  padding-bottom: 20px;
  margin-bottom: 0; }
  @media only screen and (max-width: 767.9px) {
    .product__title {
      padding: 2rem 0;
      margin: unset; } }

.product__price {
  padding: unset;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center; }
  @media only screen and (max-width: 992px) {
    .product__price {
      align-self: flex-start; } }
  @media only screen and (max-width: 767.9px) {
    .product__price {
      padding-top: 3rem; } }
  .product__price > h2.current-price::after {
    content: '€';
    padding-left: 4px; }
  .product__price > h2:last-child {
    color: #33363b; }
  .product__price-line {
    border: solid 0.1rem rgba(199, 199, 199, 0.3);
    margin-bottom: 2rem; }
    @media only screen and (max-width: 767.9px) {
      .product__price-line {
        display: none; } }

.product__timer {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  margin: 5px 0;
  border: unset;
  padding: unset; }
  .product__timer-container {
    padding-bottom: 3.5rem; }
    @media only screen and (max-width: 992px) {
      .product__timer-container {
        padding: 2rem 0; } }
  .product__timer-title {
    max-width: 28rem;
    height: auto;
    padding-right: 1rem;
    margin: unset;
    font-family: "GilroyBold";
    font-size: 1.8rem;
    line-height: 1.28;
    color: #33363b; }
  .product__timer-time {
    max-width: 18rem;
    height: auto;
    margin: unset;
    font-family: "GilroyBold";
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.28;
    color: #f17c61; }

.product__location {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  color: #33363b;
  font-family: "GilroyMedium"; }
  @media only screen and (max-width: 992px) {
    .product__location {
      flex-direction: column; } }
  .product__location > div {
    max-width: 100% !important;
    height: 18rem;
    padding: 1.5rem 2rem;
    background-color: #f8f8f8;
    font-size: 1.4rem; }
    @media only screen and (max-width: 992px) {
      .product__location > div {
        width: 100%; } }
    .product__location > div:first-child {
      margin-right: .5rem; }
      @media only screen and (max-width: 992px) {
        .product__location > div:first-child {
          margin-right: 0;
          margin-bottom: 15px; } }
    .product__location > div:last-child {
      margin-left: .5rem; }
      @media only screen and (max-width: 992px) {
        .product__location > div:last-child {
          margin-left: 0; } }
    .product__location > div > p  {
      margin-bottom: unset !important; }
  .product__location-address p {
    margin-bottom: 4px; }
  .product__location-delivery p {
    margin-bottom: 4px; }
  .product__location-delivery > ul {
    padding-inline-start: 0; }
    .product__location-delivery > ul li {
      list-style: none; }
      .product__location-delivery > ul li::before {
        content: '-';
        font-weight: 500;
        padding-right: .4rem; }
  .product__location-delivery-image {
    padding-bottom: 15px; }

.product__description-text {
  white-space: pre-line;
  font-family: "GilroyMedium";
  font-size: 1.4rem;
  line-height: 25px;
  color: #33363b; }

.product__description > ul {
  border-bottom: 1px solid #c7c7c7;
  color: #33363b; }
  @media only screen and (max-width: 992px) {
    .product__description > ul {
      padding: 0.4rem 0; } }
  .product__description > ul > li {
    margin-right: 20px;
    height: 2.4rem;
    font-family: "GilroyBold";
    font-size: 1.8rem;
    line-height: 1.28;
    color: #33363b; }
    .product__description > ul > li > a {
      padding: unset;
      border: unset !important; }
      .product__description > ul > li > a.active {
        border-bottom: solid 3px #c7c7c7 !important;
        margin-bottom: -2px;
        color: #8dcfd9 !important; }

.product__description > .tab-content {
  padding-top: 3rem;
  line-height: 1.8 !important;
  color: #33363b; }

.product__description-specs {
  border: unset !important; }
  .product__description-specs > tr > th,
  .product__description-specs td {
    border: unset; }
  .product__description-specs > .active {
    background-color: #f8f8f8; }

.product__table-tr {
  line-height: 36px; }

.product__table-th {
  font-family: "GilroyBold"; }

.product__table-td {
  font-family: "GilroyMedium";
  font-size: 1.4rem;
  text-align: right; }

@media only screen and (max-width: 992px) {
  .product__contacts {
    padding: 25px 15px; } }

.product__contacts-link {
  margin-top: 20px; }
  .product__contacts-link > a {
    font-family: "GilroyBold";
    color: #8dcfd9 !important; }

.product__contacts > h3, .konkka-card .card-body .product__contacts > .card-title {
  color: #33363b;
  border: unset;
  border-bottom: 1px solid #c7c7c7; }

.product__contacts > li {
  border: unset;
  padding-left: unset; }
  .product__contacts > li > h5 {
    color: #33363b; }
  .product__contacts > li > .list-group-item-text {
    font-size: 1.4rem;
    font-weight: 500;
    color: #33363b;
    margin-bottom: 0; }

.front__list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.5rem; }
  .front__list > label {
    font-family: "GilroyMedium";
    font-size: 12px;
    font-weight: 500;
    color: #50555d; }
