.konkka-card {
	height: 100%;
	padding-bottom: 35px;
	border: none;

	&:hover {
		cursor: pointer;
	}

	@include respond(phone) {
		max-width: 500px;
		margin: auto;
	}

	img {
		height: 270px;
		border-radius: 0;
	}

	.card-body {
		padding: 1.25rem 0;
		color: $color-dark-blue;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		max-height: 100px;
		max-width: 500px;

		.card-title {
			@extend h3;

			display: flex;
			justify-content: space-between;

			& > span {
				text-align: right;
				max-width: 125px;

				&::after {
					content: '€';
					margin-left: -4px;
				}
			}
		}

		.card-top {
			display: flex;
			justify-content: space-between;

			& > h5:first-child {
				max-width: 300px;
				margin-right: 20px;
			}

			& > .product-price {
				&::after {
					content: '€';
					text-align: right;
					max-width: 120px;
					padding-left: 4px;
				}
			}
		}

		.card-bottom {
			display: flex;
			justify-content: space-between;
			align-items: center;
			align-content: center;
			
			height: 100%;

			& > .location {
				margin: 0;
			}

			& > * {
				font-family: $gilroy-medium;
				font-size: 1.4rem;
			}
		}
	}
}

.card {
	&__image {
		max-width: 500px;
		width: 100%;
		height: 280px;

		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}

	&__timer {
		font-variant-numeric: tabular-nums;
		text-align: right;
	}
}
