.filter {
	padding-top: 40px;

	@include respond(phone) {
		padding-top: unset;
	}

	& > div > select {
		// border: 1px solid $color-light-gray;
		// border-radius: 1.8rem;
		border: unset !important;
		padding-top: 40px;
	}

	&__wrapper {
		justify-content: space-between;
		padding-bottom: 15px;

		& > div > label {
			padding: 0;
		}

		@include respond(phone) {
			max-width: 500px;
			margin: auto;

			& > div {
				padding: 0;
			}
		}
	}

	&__title {
		&-total {
			align-items: flex-start;
			margin-top: .5rem;

			font-family: $gilroy-medium;
			font-size: 1.4rem;
			color: $color-gray;
		}
	}

	&__image {
		&-hintarajaa {
			width: 122px;
			height: 36px;
			opacity: 0.9;
			border-radius: 0px 20px 20px 0px;
			background-color: $color-white;

			position: absolute;
			top: 30px;

			display: flex;
			justify-content: center;
			align-items: center;

			& p {
				margin-bottom: 0;
			}
		}
	}

	&__sort {
    text-align: right;
    display: flex;
    align-items: flex-end;
		flex-direction: column;
		
		margin-right: 3px;

		&:hover {
			cursor: pointer;
		}

		&-label {
			display: flex;
			align-items: center;
		}

		&-arrow {
			&::after {
				box-sizing: border-box;
				height: 10px;
				width: 10px;
				border-style: solid;
				border-color: $color-light-gray;
				border-width: 0px 1.5px 1.5px 0px;
				transform: rotate(-45deg);
				transition: all .2s ease-in;
			}

			&.active {
				transform: rotate(45deg);
				transition: all .2s ease-in;
			}
		}

		&-text {
			margin-top: .7rem;
			margin-bottom: .7rem;
			padding-right: 7px;
			font-size: 1.4rem;
		}

		&-direction,
		&-by {
			font-family: $gilroy-medium;
			font-size: 1.6rem;
			color: $color-gray;

			&-wrapper {
				padding-right: 16px;
			}
	
			&-wrapper input {
				display: none;
			}
			&-wrapper label {
				font-size: 1.4rem;
				margin-bottom: 7px;
				text-align: right;
			}
		}
	}

	&__flex {
		display: flex;
		justify-content: space-between;
		align-content: center;
		align-items: flex-start;
		flex-wrap: wrap;

		&.no-padding {
			padding: unset;
		}
	}

	&__group {
		margin: unset;
		padding-bottom: 2rem;

		&.sub {
			padding: 0;
			@include respond(tab-port) {
				align-self: flex-end;
			}
		}
	}

	&__input {
		&-rounded {
			padding: 0 8px;
			margin-bottom: 15px;
			border: 2px solid $color-light-gray;
			border-radius: 18px;
			overflow: hidden;

			&:hover {
				cursor: pointer;
			}


			&.price {
				width: 50%;
				&:first-child {
					border-radius: 18px 0 0 18px;
					border-right: 1px solid $color-light-gray;
				}
				&:last-child {
					border-radius: 0 18px 18px 0;
					border-left: 1px solid $color-light-gray;
				}
			}

			@include respond(phone) {
				&.small {
					width: 50%;
				}
			}
		}
	}

	&__any-bid {
		&-wrapper {
			display: flex;
			flex-direction: row;
    	justify-content: space-between;
			align-items: center;
			
			text-align: right;
		}

		&-input {
			display: flex;
			justify-content: center;
			align-items: baseline;
			align-content: center;
			align-self: center;

			@include respond(tab-land) {
				justify-content: flex-start;
				padding-left: 0;
			}

			& label {
				margin-bottom: 0;
				font-size: 14px;
				font-family: $gilroy-regular;
			}
		}
	}

	&__checkbox {
		display: flex;
    align-items: center;
		justify-content: space-between;

		&.filter__group {
			display: flex;
			align-items: center;
			justify-content: space-between;


			&.filter__any-bid-wrapper  {
				width: 100%;
			}
		}

		@include respond(phone) {
			padding-top: 0;
		}
		&-label {
			font-family: $gilroy-medium;
			font-size: 1.4rem;
			font-weight: 500;
			color: $color-gray;

			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			align-content: center;

			@include respond(phone) {
				width: 47.5%;
				padding: 10px 5px;
			}
		}
		&-input {
			padding-right: 5rem;
			height: 1.5rem !important;
			width: 1.5rem !important;
			background-color: unset;
			border: 1px solid $color-gray;
		}
	}

	&__search {
		&-label {
			font-family: $gilroy-bold;
			font-size: 1.4rem;
			color: $color-gray;

			padding-bottom: 1rem;
			margin-bottom: unset;
		}
	}

	&__orderby {
		& > label {
			display: flex;
			align-items: center;
			font-family: $gilroy-medium;

			&.active {
				&:after {
					transform: rotate(135deg);
					transform-origin: center center;
				}
			}

			&:after {
				content: "";
				position: relative;
				display: inline-block;
				width: 8px;
				height: 8px;
				border-right: 0.2px solid black;
				border-top: 0.2px solid black;
				margin-left: 5px;
				transform: rotate(45deg);
				transition: all .2s linear;
			}
		}
		& > div {
			display: flex;
			flex-direction: column;
		}
	}
}

.filter__input-rounded > * {
	font-size: 14px !important;
	height: 36px !important;


	// -webkit-appearance: none;
	-moz-appearance: none;
}

// stylings made by react strap that are affecting konkka
.form-check-input {
	position: unset;
	margin-top: unset;
	margin-left: unset;
	margin-right: .5rem;
}

select {
	outline: none !important;
	border: unset !important;
	box-shadow: none !important;
	// appearance: none !important;
	// border: 2px solid red !important;
	// border-radius: 20px !important;
}


// didnt apply in the filter__group, so done it the old way
.reset-filters {
	display: flex;
	justify-content: flex-end;
	
	& > button {
		max-width: 180px;
		border: none;
		padding: 6px 20px;
		color: $color-gray;
		font-size: 1.4rem;
		font-family: $gilroy-bold;
		background: none;

		display: flex;
		justify-content: space-between;
		align-items: center;

		&:hover {
			background: $color-primary;
		}

		& > img {
			padding-right: 7px;
		}

		@include respond(tab-port) {
			justify-content: flex-end;

			// & > img {
				
			// }
		}
	}
}