.hero {
	background-color: $color-white;
	padding: 80px 0;
	
	@include respond(tab-port) {
		margin-top: 60px;
	}

	@include respond(phone) {
		padding: 80px 0 20px 0;
		margin-top: 20px;
	}

}

.hero-container {
	@include respond(phone) {
		padding: 2rem 0;
	}

	.page-title {
		text-align: center;
		margin: 0 auto;
		width: 90rem;
		max-width: 100%;
	}

	.hero-filter {
		padding-top: 5px;
		padding-bottom: 5px;
		&.active {
			border-bottom: 2px solid $color-orange;
		}
	}


	.hero-filters {
		max-width: 420px;
		margin: 0 auto;
		padding: 3rem 0;
		color: $color-orange;
		font-family: $gilroy-bold;
		font-size: 14px;

		&:hover {
			cursor: pointer;
		}

		@include respond(phone) {
			display: none;
		}

		.row {
			text-align: center;
		}

		&-category {
			& > .items {
				display: flex !important;
				justify-content: space-evenly;
				text-align: center;
			}
			&.show {
				display: block;
			}
		}
	}
}
