.link {
	&__header {
		font-family: $gilroy-medium;
		font-size: 14px;
		font-weight: 500;
		color: $color-white;
		margin-bottom: 0;

		letter-spacing: .3px;
    display: flex;
    align-items: center;
	}

	&__google {
		&-maps {
			margin: 20px 0 10px 0px;

			& > a {
				font-family: $gilroy-bold;
				font-size: 1.4rem;
				color: $color-primary;
			}
		}
	}
}
