.modal {
	&-header {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		align-content: flex-end;

		border: unset;

		& > button > span {
			font-size: 4.4rem;
			font-weight: 300;
			color: $color-orange;
		}
	}

	&-title {
		@extend .font-regular;
		font-family: $gilroy-bold !important;
		font-size: 2.4rem !important;
	}

	&-popup {
		max-width: 38rem;
		max-height: 30rem;

		& > .modal-content {
			height: 100%;
			padding: 3rem 3rem 3.5rem 3rem;
		}
	}
}








/** image modal -- single product images **/
.image-modal {
  max-width: 65vw;

  @include respond(tab-port) {
    max-width: 97.5vw;
  }

  // entire content
  & > .modal-content {
    background: transparent;
    margin-top: 10vh;
    border: none;
    width: unset;
    max-width: unset;

    // header with closing button
    & > .modal-header {
      justify-content: space-between;
      align-items: center;
      align-content: center;

      & > button.close {
          padding: 0 0;
        }
      }
    
    // image
    & > .modal-body {
      height: 70vh;
      max-width: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}


// quick test z-index
// .slider-modal {

// }

/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}