.bid-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	& > input {
		max-width: 22rem;
		padding-left: 1rem;
		height: 3.6rem;

		@media screen and (max-width: 1300px) {
			max-width: 100%;
		}
		@media (min-width: 576px) and (max-width: 991.98px) {
			max-width: 49% !important;
		}
		// @include media-breakpoint-down(md) { 
		// 	max-width: 100%;
		//  }
	}

	& > button {
		max-width: 18rem;
		width: 100%;
		height: 3.6rem;
		padding: 0 2rem;
		background-color: $color-primary;
		border: solid 2px $color-primary;

		font-family: $gilroy-regular;
		font-size: 1.4rem;
		font-weight: bold;
		text-align: center;
		color: $color-white;

		&:hover {
			background-color: $color-primary-dark;
			border-color: $color-primary-dark;
		}

		@media screen and (max-width: 1300px) {
			margin-top: 1rem;
			max-width: 100%;
			width: 100%;
		}
		@media (min-width: 576px) and (max-width: 991.98px) {
			margin: 0 !important; 
			max-width: 49% !important;
		}
		// @include media-breakpoint-down(md) { 
		// 	margin-top: 1;
		//  }
	}

	&__alert {
		&-minimum {
			// margin-top: 1rem;
			max-width: 48rem;
			// height: 3rem;
			font-family: $gilroy-regular;
			font-size: 1.2rem;
			font-weight: 500;
			color: $color-gray;

			& p {
				margin-bottom: unset;
			}
		}
	}
}
