.bidlist {
	max-height: 15rem;
	border-bottom: 1px solid $color-light-gray;

	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	overflow-x: scroll;

	&.toggle {
		visibility: visible;
		height: 100%;
		opacity: 1;

		transition: all linear .5s;
	}

	&.hidden {
		visibility: hidden;
		height: 0;
		opacity: 0;

		transition: all linear .5s;
	}

	&__container {
		margin-bottom: 2rem;
		&.toggle {
			border-bottom: 1px solid $color-light-gray;
			margin-bottom: 50px;
			transform: all .7s linear;
		}

		&.hidden {
			border: unset;
			margin-bottom: 0;
			transform: all .5s linear;
		}

		& > thead > tr > th {
			padding-left: 0 !important;
			border: unset !important;
		}
	}

	&__head {
		display: flex;
		justify-content: space-between;
		align-content: center;
		align-items: center;

		border-bottom: 1px solid $color-light-gray;
		height: 2rem;
		padding: 15px 5px 15px 0;

		&:hover {
			cursor: pointer;
		}

		@include respond(tab-port) {
			border-top: 1px solid $color-light-gray;
		}

		&-title {
			width: 100%;

			font-family: $gilroy-bold;
			font-size: 1.4rem;
			line-height: 1.5;
			color: $color-dark-gray;
		}
		
		&-arrow {
				box-sizing: border-box;
				height: 10px;
				width: 10px;
				border-style: solid;
				border-color: $color-light-gray;
				border-width: 0px 1.5px 1.5px 0px;
				transform: rotate(-45deg);
				transition: all .2s ease-in;
			
			&:hover {
				color: $color-dark-gray;
			}
			
			&.active {
				transform: rotate(45deg);
				transition: all .2s ease-in;
			}
			
		}
	}

	&__row {
		display: flex;
    justify-content: space-between;
    align-content: center;
		align-items: flex-start;
		
		font-family: $gilroy-medium;
		font-size: 1.4rem;
		line-height: 2rem;
		letter-spacing: normal;

		&:last-child {
			margin-bottom: .7rem;
		}

		&:first-child {
			font-family: $gilroy-bold;
			margin-top: .7rem;
		}

		&-index {
			font-size: 1.4rem;
			width: 1.5rem;
		}

		& > th {
			font-family: inherit;
			width: 2.5rem;
		}

		&-name {
			font-family: inherit;
			padding-left: unset;
			min-width: 2rem;
			max-width: 10rem;
			width: 100%;
		}

		&-proxy {
			width: 100px;
		}

		&-amount {
			display: flex;
			justify-content: flex-end;

			font-family: inherit;
			max-width: 80px;
			width: 100%;
		}

		&-bid {
			&.amount {
				max-width: 6rem;
				width: 100%;
				text-align: right;
			}
			&.remove {
				max-width: 47px;
				width: 100%;
			}
		}
	}
}
