#heroSearch {
	font-size: 1.6rem;
	max-width: 52rem;
	border-radius: 5rem;
	height: 5rem;
	// margin-right: 40px;
	padding: 0 5rem;
	border: 3px solid $color-primary;

	&:focus {
		box-shadow: unset;
	}
	
	&:focus {
		outline: none;
	}

	&::placeholder {
		color: $color-light-gray;
		font-family: $gilroy-bold;
	}

	@include respond(tab-port) {
		max-width: unset;
	}
}

.search {
	&-icon {
		position: absolute;
    left: 40px;

		@include respond(tab-port) {
			position: absolute;
			left: 20px;
		}
			

	}
	&-form {
		margin: 0 auto;

		& > *:focous {
			outline: none;
		}

		@include respond(tab-port) {
    	margin: 28px 0;
		}

		&__flex {
			display: flex;
			justify-content: center;
			align-items: center;
			align-content: center;


			max-width: 56rem;
			margin: auto !important;
			overflow: visible;

			@include respond(tab-port) {
				margin-bottom: 0;
				margin-right: 0;
			}
		}

		&__icon {
			z-index: 1000;
			margin-right: -50px;
		}

		&__toggle {
			display: flex;
			align-items: center;
			padding-left: 40px;

			@include respond(tab-port) {
				padding: 10px 25px 0 20px;
				justify-content: flex-start;
			}
		}

		&__button {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			
			max-width: 160px;
			width: 100%;
		
			font-family: $gilroy-bold;
			font-size: 1.4rem;
			text-align: center;
			color: rgba($color-light-gray, .8);

			position: absolute;
			right: -160px;
	
			&:focus {
				outline: none;
			}

			&:hover {
				cursor: pointer;
			}

			& > img {
				padding-right: 15px;
			}

			@include respond(tab-port) {
				position: absolute;
				right: 20px;
				padding-left: 0;
				justify-content: flex-end;

				& > img {
					padding-right: 0;
				}
			}
		}

		&__icon {
			// &:last-child {
			// 	// padding-left: 15px;
			// }

			&.close {
				width: 32px;
				height: 32px;
				opacity: 0.3;

				position: unset;
				float: unset;
				right: unset;
				top: unset;

				transition: all .4s ease-in-out;

				@include respond(tab-port) {
					display: flex;
					align-items: center;
				}

				&:hover {
					opacity: 1;
				}
				&:before,
				&:after {
					position: absolute;
					top: 37.5%;
					left: unset;
					content: ' ';
					height: 14px;
					width: 2px;
					background-color: $color-orange;

					@include respond(tab-port) {
						top: unset;
					}
				}
				&:before {
					transform: rotate(45deg);
				}
				&:after {
					transform: rotate(-45deg);
				}
			}
		}
	}
}
