.slick {

  &__image {
    &-content{
      max-width: 100%;
      height: 520px;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
  }

  &-thumb {
    display: flex !important;
    flex-wrap: wrap;

    padding-top: 15px;
    padding-left: unset;

    & > li {
      list-style-type: none;
      width: 85px;
      height: 60px;
      margin-right: 10px;
      margin-bottom: 10px;

      & > a > img {
      width: 85px;
      height: 60px;
      }
    }
  }

  &-slider {
    & > button {
      display: none !important;
    }
  }

  &-track {
     display: flex;
    
  }

  &-list {
   max-height: 520px;
   overflow: hidden;
  }
}