.snack__notification >  div {
  // height: 100px;
  @media screen and (max-width: 1320px){
    left: 15px;
  } 

  & > div {
    height: 100%;
    min-width: 330px;
    width: 100%;
    padding: 15px;
    font-size: 1.6rem;
    font-family: $gilroy-regular;
  }
}