html,
body {
	-webkit-font-smoothing: antialiased;
	-moz-appearance:none;

	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;

	// defines 1 rem to change the default 16px from browser into 10px --- 10/16px creating autome zoom option
	font-size: 10px;

	// font-size: 62.5%;
}

.App {
	overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $gilroy-bold;
	color: $color-gray;
}

h1 {
	font-size: 3.2rem;
	letter-spacing: -0.3px;

	@media (min-width: 768px) {
		font-size: 4.8rem;
		letter-spacing: -0.5px;
	}
}

h2 {
	font-size: 2.4rem;
}

h3 {
	font-size: 1.8rem;
	line-height: 2.3rem;
}

h4 {
	font-size: 1.4rem;
	line-height: 2.3rem;
}

.container {
	&.no-padding {
		padding: unset;
	}
}

.ingress {
	font-family: $gilroy-regular;
	font-size: 1.8rem;
	line-height: 2.9rem;
	color: $color-gray;
}

p {
	font-size: 1.4rem;
	font-family: $gilroy-medium;
	line-height: 2rem;
	color: $color-gray;
}

.font-small {
	font-size: 1.2rem;
	line-height: 1.65rem;
	color: $color-gray;
}

.font-regular {
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.43;
	color: $color-gray;
}

.font-intro {
	font-size: 1.8rem;
	line-height: 1.61;
	color: $color-gray;
}

@media (min-width: 1280px) {
	.container {
		max-width: 1340px;
	}
}