// * error styles should be handled in here * //


.error {
  &__bid { 
    &-login {
      color: $color-orange;
      font-size: 1.4rem;
      font-family: $gilroy-bold;

      margin-bottom: 0;
    }
  }
}
