.App {
  position: relative;
  min-height: calc(100vh - 185px);
  padding-bottom: 2.5rem;
}

.App > .container {
  min-height: calc(100vh - 65px - 100px);
}
.App + .container {
  min-height: calc(100vh - 65px - 100px);
}

.container-fluid {
  max-width: 1310px;

  &.footer-wrapper {
    max-width: unset;
  }
}

.flex {
  display: flex;
  align-content: center;
  align-items: center;
}

.form-control {
  font-size: 14px;
}

fieldset {
  &:disabled {
    outline-color: none;

    & select {
      background-color: $color-white !important; 
      outline-color: none;
    }
    & * > select {
      background-color: $color-white !important;
      outline-color: none;
    }
  }
}


.close {
  outline: none !important;
}


/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }
        
/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

input:focus { outline: none; }