input[type="text"] {
  border-radius: 25px;
  border: 2px solid $color-primary;
}

input[type="text"]:focus {
  outline: 0;
  box-shadow: none;
}

.btn {
  border-radius: 25px;
  border-color: $color-primary;
  background-color: $color-primary;
}

.btn {
  box-shadow: unset !important;
}

.btn:hover {
  cursor: pointer;
}

.btn:disabled {
  cursor: default;
  border-color: $color-gray;
  background-color: $color-gray;
}

.btn:disabled:hover {
  cursor: default;
  border-color: $color-gray !important;
  background-color: $color-gray !important;
}

.btn-danger {
  box-shadow: unset !important;
}

.error-text {
  color: $color-orange;
  font-family: $gilroy-bold;
  padding: 15px 0 5px 0;
}

.error-input {
  color: $color-orange;
  border-color: $color-orange !important;
  & > * {
    color: $color-orange;
  }
}

.text-success {
  padding: 15px 0 5px 0;
}

// .success-text {
//   color: $color-orange;
//   font-family: $gilroy-bold;
//   padding: 15px 0 5px 0;
// }

// .success-input {
//   color: $color-orange;
//   border-color: $color-orange !important;
// }