
// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    //phone isn't used tho
    @media only screen and (max-width: 767.9px) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 991.9px) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 1199.9px) {
      @content;
    } //1200px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 1600px) {
      @content;
    } //1800
  }
}


// * you only will have to add align-content in the class
@mixin flex($position) {
  display: flex;
  align-items: center;
  justify-content: $position;

  @content;
}
