// Sizes
$phone: 600px;
$tab-port: 900px;
$tab-land: 1200px;
$big-desktop: 1800px;
$desktop: "768px";

// Colors
$color-primary: #8dcfd9;
$color-primary-dark: #5cc2d1;
$color-white: #fff;
$color-second-white: #f8f8f8;
$color-orange: #f17c61;
// $color-lightest-gray: #f8f8f8;
$color-light-gray: #c7c7c7;
$color-mid-gray: #727881;
$color-dark-blue: #2a2c3f;
$color-gray: #50555d;
$color-dark-gray: #33363b;

$color-border-light-gray: #dee2e6;

// Gilroy Fonts
$gilroy-regular: "GilroyRegular";
$gilroy-medium: "GilroyMedium";
$gilroy-bold: "GilroyBold";

// content position
$flex-start: flex-start;
$flex-end: flex-end;
$space-between: space-between;
$space-around: space-around;
$space-evenly: space-evenly;

@font-face {
	font-family: "GilroyRegular";
	src: local("GilroyRegular"), url("../fonts/Gilroy-Regular.otf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "GilroyMedium";
	src: url("../fonts/Gilroy-Medium.otf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "GilroyBold";
	src: url("../fonts/Gilroy-Bold.otf");
	font-weight: normal;
	font-style: normal;
}
