/* 
  when the sass file _single.procduct.scss is acting strangly and applying the changes
  use this file instead to manipulate the style
*/

.product__table-th {
  width: 25%;
    min-width: 150px;
}

.slick-thumb > li > a > img {
  cursor: pointer;
}