.log {
  font-family: "GilroyMedium";
  font-size: 1.2rem;
}

.log-header {
  justify-content: space-between;
  align-content: center;
  align-items: center;

  padding-top: 15px;
}

.log-submit-form {
  display: flex;
  width: 100%
}

.log-search-button {
  max-width: 200px;
  width: 100%;
  height: calc(1.5em + 1.25rem + 2px) !important;

  font-family: "GilroyMedium";
  font-size: 12px;
}

.log-search-input {
  width: 100%;
  height: calc(1.5em + 1.25rem + 2px) !important;
  padding-left: 15px;

  font-family: "GilroyMedium";
  font-size: 12px;
}

